body{
background-color:#34495E;
}

.navbar-inverse {
background-color: rgba(0, 0, 0, 0.5);
border-color: rgba(255, 255, 255, 0);
margin-bottom:0px;
}

.navbar-inverse .navbar-brand {
color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
color: #fff;
padding: 17px 12px;
color:white;
}

.navbar-inverse .navbar-nav > li > a:hover{
background-color:#1ABC9C;
}

.navbar-inverse  .navbar-toggle{
color:white;
border-color: rgba(255, 255, 255, 0);
}
#brand-image{
max-height:100px;
min-height:100px;
}

#hero {
background: url(../images/02.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
-moz-background-size: cover;
min-height: 600px;
}

#hero .overlay {
background-color: rgba(0, 0, 0, 0.5);
min-height: 600px;

}

.search{
text-align:center;
font-size:22px;
color:white;
padding-top:250px;
max-width:400px;
margin-left:auto;
margin-right:auto;
}



.btn{
background-color:#E74C3C;
border:2px 2px 2px 2px;
border-color:#E74C3C;
border-style:none;
}

.btn:hover{
background-color:#E74C3C;
}
.btn:active{
background-color:#E74C3C;
}




a:hover{
text-decoration:none;
}

footer{
background-color:#BDC3C7;
padding-top:20px;
text-align:center;
padding-bottom:20px;
}

ul{
list-style:none;
}

footer a{
text-decoration:none;
font-size:10px;
font-weight:bold;
color:#1ABC9C;
padding-left:0px; 
}

footer a:hover{
color:#1ABC9C; 
}


